select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  /* outline: 0;
    box-shadow: none;
    border: 0!important;
    background-image: none; */
  /* flex: 1; */
}

select::-ms-expand {
  display: none;
}

.select::after {
  content: url(../../../assets/dropdown.svg);
  position: absolute;
  right: 10px;
  bottom: 2px;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
