select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  /* outline: 0;
    box-shadow: none;
    border: 0!important;
    background-image: none; */
  /* flex: 1; */
}

select::-ms-expand {
  display: none;
}

.dropdown-icon::after {
  content: url(../../../assets/dropdown.svg);
  position: absolute;
  right: 10px;
  bottom: 0px;
  transform: translate(0, -60%);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

@media (max-width: 1024px) {
  .dropdown-icon::after {
    content: url(../../../assets/dropdown-sm.svg);
    position: absolute;
    right: 8px;
    bottom: 0px;
    transform: translate(0, -15%);
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }
}
