@tailwind base;
@tailwind components;
@tailwind utilities;

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    /* outline: 0;
    box-shadow: none;
    border: 0!important;
    background-image: none; */
    /* flex: 1; */
}

select::-ms-expand{
    display: none;
}

/* .select{
    position: relative;
    display: flex;
    width: 50%;
    overflow: hidden;
} */

.select::after{
    content: url(../../../assets/dropdown.svg);
    position: absolute;
    right:35%;
    top: 4%;
    cursor: pointer;
    pointer-events: none;
    transition:.25s all ease;
}