@tailwind base;
@tailwind components;
@tailwind utilities;

.event-card{
    background: linear-gradient(282.07deg, #005CBA 16.61%, #4F9BFD 90.56%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
